*.png
*.adj
*.RDS
*.out
*.err
*.pdf
sandboxes/*
*.log
configs/old/*
outputs/old/*

src/setup_scripts/__pycache__/*

cookies.qU72SRv26f
netrc.eBWloOy9Hq

*.ipynb_checkpoints

!paper_results/figures/*.png